<h1>Posts#show</h1>

<%= link_to 'All Posts', posts_path %>

<p>
<%= @post.title %><br>
<%= time_ago @post.created_at %>
</p>

<p>
	<%= @post.content %>
</p>
<p>
<h3>Comments</h3>
<%@post.comments.approved.each.with_index(1) do |comment, index|%>
<%= comment.message %> <b> <%= double_digit_number index %></b><br>
<b><%= comment.visitor.fullname %></b> commented: <%= time_ago comment.created_at %><br>
<%end%>
<hr>
</p>

<%= form_for @visitor_comment, url:comments_url do |f| %>
<p>
	<%= f.label :fullname%>
<%= f.text_field :fullname%>
</p>

<p>
	<%= f.label :email%>
<%= f.text_field :email%>
</p>


	<%= f.fields_for :comments do |c| %>
<p>
	<%= c.label :message %>
	<%= c.text_area :message %>
	<%= c.hidden_field :post_id, value: @post.id %>
</p>
<%end%>
<p><%= f.submit ' Add Comment' %></p>
<%end%>